.siteheader body {
    font-size: 28px;
  }
  
  .siteheader  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .siteheader  li {
    float: left;
  }
  
  .siteheader  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .siteheader li a:hover {
    background-color: #111;
  }
  
  .siteheader .active {
    background-color: #4CAF50;
  }